<div class="columns mt-6 is-centered">
    <div class="colmns is-one-third">
        <h1 class="is-size-3 has-text-weight-bold bm-4">Edit Trip</h1>
        <%= render 'form', entry: @entry %>
    </div>
</div>